<section>
  <div class="flex flex-col justify-between gap-5 mb-5 sm:flex-row">
    <h1 class="text-4xl font-bold text-dark-grey dark:text-white">Envelope formulas</h1>
    <%= button_to 'New envelope formula', new_envelope_formula_path, class: "btn-blue w-full sm:w-fit", method: :get, data: { turbo_frame: 'new-envelope_formula-form' } %>
  </div>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <div class="grid w-full whitespace-no-wrap shadow-lg">
        <div class="">
          <div class="grid grid-cols-9 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase bg-gray-100 border-b tableNew dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"> <%# thead %>
            <div class="flex items-center col-span-2 px-4 py-3">Name</div>
            <div class="flex items-center px-4 py-3">Daily expences</div>
            <div class="flex items-center px-4 py-3">Savings</div>
            <div class="flex items-center px-4 py-3">For others</div>
            <div class="flex items-center px-4 py-3">For self development</div>
            <div class="flex items-center px-4 py-3">For expensive purchase</div>
            <div class="flex items-center px-4 py-3">Investment funds</div>
            <div class="flex items-center px-4 py-3">&nbsp;</div>
          </div>
        </div>
        <div id="envelope_formulas" class="bg-white dark:bg-gray-800">
          <%= turbo_frame_tag 'new-envelope_formula-form', data: { controller: 'clear-frame' } %>
          <%= render @envelope_formulas%>
        </div>
      </div>
  </div>
</section>
