<%= stylesheet_link_tag 'dark-theme-switcher' %>
<div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
  <div>
    <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
      Total photos & videos
    </p>
    <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
      <%= @total_galleries %>
    </p>
  </div>
</div>
<p class="dark:text-gray-200">Hello</p>
